<%= render 'shared/navbar' %>
<%= render 'shared/sidebar' %>
<div class="main">
  <div class="container mt-5">
      <%= link_to "Edit this team", edit_team_path(@team), class: 'btn btn-outline-info' %>
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-sm-6 ">



         <h1>Name: <%= @team.name %></h1>











      </div>
    </div>
  </div>
</div>
