<div id="message-<%= message.id %>">
                <small>
                  <strong><%= message.user.name %> </strong>
                  <i><%= message.created_at.localtime.strftime("%a %b %e at %l:%M %p") %></i>
                </small>
                <p><%= message.content %></p>
              </div>
