<%= render 'shared/sidebar' %>
<div class="main">
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-sm-6 ">



         <p><%= @task.name %></p>
         <p><%= @task.description %></p>
         <p><%= @task.deadline %></p>



      </div>
    </div>
  </div>
</div>
