<%= render 'shared/sidebar' %>
<%= render 'shared/navbar' %>

<div class="main">
  <div class="container mt-5">
    <div class="row">
      <div class="col-12 col-md-8 col-sm-6 ">

        <h1>Hello World</h1>
        <% @chatroom.each do |chat| %>
          <%= link_to chat.name, chatroom_path(chat) %>
        <% end %>

      </div>
    </div>
  </div>
</div>
