    <% @events.each do |event| %>
      <div class="card-tasks">
        <div class="card-tasks-info p-1">
          <h2>
            <%= event.title %>
          </h2>
          <hr>
          <p>From:
             <%= event.start_date.strftime("%m/%d/%Y at %I:%M%p") %>
             to
             <%= event.end_date.strftime("%m/%d/%Y at %I:%M%p") %>
          </p>
          <hr>
          <p>
            <strong>Description:</strong>
            <%= event.description %>
          </p>

        </div>
      </div>
      <% end %>
