    <% @events.each do |event| %>
    <h3>Details:</h3>
      <div class="card mb-4">
        <div class="card-body">
          <p>
            <strong>Title:</strong>
            <%= event.title %>
          </p>
          <hr>
          <p>
            <strong>Start date:</strong>
            <%= event.start_date %>
          </p>
          <hr>
          <p>
            <strong>End date:</strong>
            <%= event.end_date %>
          </p>
          <p>
            <strong>Description:</strong>
            <%= event.description %>
          </p>
        </div>
      <% end %>
