<%= render 'shared/navbar' %>
<%= render 'shared/sidebar' %>
<div class="main">
  <div class="container mt-5">
    <div class="row ">
      <div class="col-12 col-md-8 col-sm-6">

          <%= link_to 'List View', events_path, class:'btn btn-primary btn-lg mb-5' %>
          <%= link_to 'New Event', new_event_path, class:'btn btn-primary btn-lg mb-5' %>

          <div id="calendar">
          <%# CALENDAR DA LOAD AQUI SE TUDO FUNCIONAR %>
          </div>

      </div>
    </div>
  </div>
</div>
