<%= render 'shared/navbar' %>
<%= render 'shared/sidebar' %>
<div class="main">
  <div class="container mt-5">
    <div class="row ">
      <div class="col-12 col-md-8 col-sm-6 form-new">

        <div class="card-header bg-primary">
          <h1 class="text-white text-center">New Meeting</h1>
        </div>

        <%= render 'form', event: @event %>

      </div>
    </div>
  </div>
</div>
