<%= render 'shared/sidebar' %>
<%= render 'shared/navbar' %>

<div class="main">
    <div class="container mt-5">
      <div class="row">
        <div class="col-12 col-md-8 col-sm-6 ">
          <h1>Today's Tasks</h1>
            <div class="cards">
              <%= render 'tasks/tasks', tasks: @tasks %>
            </div>



        <hr class="my-5">

        <h1>Upcoming Meetings</h1>

          <div class="cards">
              <%# @meetings.each do |meeting| %>
                <div class="card-tasks">
                  <div class="card-tasks-infos">
                    <h2>< %= meeting.name %></h2>
                    <p> <small> < %= meeting.hour %> </small> </p>
                    <p>< %= meeting.member -> Show avatar %></p>
                    <p>< %= link_to -> Join meeting %></p>
                    <br>
                    <div>
                    <%= link_to 'Join', dashboard_path , class: 'btn btn-outline-light' %>
                    </div>

                  </div>
                </div>
              <%# end %>

          </div>


      </div>
    </div>
  </div>
</div>
