<%= render 'shared/sidebar' %>

<div class="main">
  <div class="container mt-5">
    <div class="row">
      <div class="col-12 col-md-8 col-sm-6 ">
        <h1>Today's Tasks</h1>
          <div class="card mt-3" style="width: 18rem;">
          <%# @tasks -> each do ( current_user (id)) %>
            <div class="card-body">
              <h5 class="card-title">NOME DA TASK</h5>
              <h6 class="card-subtitle mb-2 text-muted">NOME DO TIME</h6>
              <p class="card-text">DESCRICAO DA TASK.</p>
              <%# <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a> %>
                <div class="progress-bar">
                  <p class="card-progress-bar"> X / Y --- Barra de progresso </p>
                </div>
            </div>
          </div>

        <hr class="my-5">

        <h1>Upcoming Meetings</h1>
          <div class="card mt-3" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Team Name</h5>
              <h6 class="card-subtitle mb-2 text-muted">Data e Hora</h6>
                <div class='d-flex justify-content-between'>
                <p class="card-text">Avatar Reuniao</p>
                <%= link_to 'Join', root_path, class: 'btn' %>
                </div>
            </div>
          </div>


      </div>
    </div>
  </div>
</div>
