.avatar {
  width: 45px;
  border-radius: 50%;
  height: 45px;
}
.avatar-large {
  width: 56px;
  border-radius: 50%;
  height: 56px;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 110px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
  height: 110px;
}

.avatar-team-index {
  width: 15px;
  border-radius: 50%
}
