.fc .fc-daygrid-day-number {
  position: relative;
  z-index: 4;
  padding: 4px;
  color: white;
}

.fc .fc-col-header-cell-cushion {
  display: inline-block;
  padding: 2px 4px;
  color: $dark-purple;
  font-weight: bold;
}

.fc .fc-button:not(:disabled) {
  cursor: pointer;
  background-color: $dark-purple;
}

.fc .fc-button-primary:disabled {
  color: #fff;
  color: var(--fc-button-text-color, #fff);
  background-color: $light-purple;
  border-color: $light-purple;
}
