.card-tasks {
  overflow: hidden;
  height: 220px;
  background: $purple;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 15px;
}

.card-tasks img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-tasks h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding-top: 5px;
}

.card-tasks p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-tasks .card-tasks-infos {
  padding: 16px;
  text-align: center;
}
