.card {
  border-radius: 15px;
  background-color: #4D4C7C;
}

.card-title {
  color: black;
}

.card-text {
  color: black;
  font-size: 14px;
}

.progress-bar {
  background-color: white;
}

.card-progress-bar {
  font-size: 11px;
  color: #48466D;
}

.btn {
  border-radius: 15px;
  background-color: white;
  color: black;
}
