.button-dark-purple {
  background-color: $dark-purple;
  border: 2px;
  color: white;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 4px;

}
